*{
    padding: 0;
    margin: 0;
}
.full{
    margin: 50px;
}
.title{
    width: 850px;
    height: 100px;
}
.photo{
    padding: 20px;
    width: 80px;
    float: left;
    display: inline-block;
}
.photo>img{
    width: 80px;
    float: left;
    border-radius: 50%;
}
.words{
    padding-top: 40px;
    float: right;
    display: inline-block;
    font-size: 120%;
}
.table{
    padding-top:30px;
    width: 875px; 
}
th{
    width: 175px;
    height: 30px;
    text-align: center;
}
td{
    text-align: center;
    height: 30px;
}
.S{
    background-color: #0471bf85;
}
.K{
    background-color: #fcb52c;
}
.P{
    background-color: #ed2a17;
}